@tailwind base;
@tailwind components;
@tailwind utilities;
@tailwind forms;


#__next {
  /* @media (max-width: 640px) {
    background-image: url('/images/background/xbox_controller_phone.webp');
  } */
  @media (min-width: 640px) {
    background-image: url('/images/background/xbox_controller_800.webp');
  }
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
}